page-contact {
    .ftc-panel {
        background-color: black;
        box-shadow: 0px 0px 8px 4px rgba(255, 0, 0, 0.219);
        border-radius: 20px;
        padding: 10px;
        margin: 10px;
        height: 96%;
    }

    .description {
        color: white;
        font-size: 1.3rem;
        text-align: justify;
    }
}
